<div>
    <button id="test">Test Button</button>
    <h3>{{name}}</h3>
    {{#each Flashcards}}
    <h5>{{name}}</h5>
    <p>{{front}}</p>
    <p>{{back}}</p>
    <button class="hype" id="{{id}}">Delete</button>
    {{/each}}
</div>
<script src="../js/deckedit.js"></script>